.module-block:hover {
    cursor: pointer;
    transition: 0.4s;
    /*opacity: 0.6;*/
    background-color: #3c3c3c;
}
.module-block .dropdown {
    top: -9px;
    position: relative;
    right: -23px;
    z-index: 99999999;
}
.module-block h4.module-label {
    position: absolute;
}
#header #menuToggle i {
    position: relative;
    top: 12px;
}

