:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body, textarea {
    font-family: Source Serif Pro, Arial, PT Sans, Trebuchet MS, Helvetica !important;
    font-size: 13px !important;
    background-color: #ffffff;
}

.form-control {
    font-size: 13px !important;
}

/*for text*/
.text-orangered {
    color: #FF4500;
}

.text-yellow {
    color: #ffc107;
}

.text-primary {
    color: #007bff;
}

.text-warning {
    color: #ffc107;
}

.text-success {
    color: #28a745;
}

.text-info {
    color: #17a2b8;
}

.text-danger {
    color: #dc3545;
}

.text-red {
    color: #dc3545;
}

/*for background*/
.bg-yellow {
    background-color: #ffc107;
}

.bg-primary {
    background-color: #007bff;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-success {
    background-color: #28a745;
}

.bg-info {
    background-color: #17a2b8;
}

.bg-danger {
    background-color: #dc3545;
}

.form-check-input {
    margin-top: 2px;
}

.form-check {
    padding-top: 8px;
}

/*start common css*/
.pd5 {
    padding: 5px;
}

.pdl5 {
    padding-left: 5px;
}

.pdl0 {
    padding-left: 0px !important;
}

.pdr5 {
    padding-right: 5px;
}

.pdt5 {
    padding-top: 5px;
}

.pdb5 {
    padding-bottom: 5px;
}

.pd10 {
    padding: 10px;
}

.pdl10 {
    padding-left: 10px !important;
}

.pdr10 {
    padding-right: 10px !important;
}

.pdt10 {
    padding-top: 10px;
}

.pdb10 {
    padding-bottom: 10px;
}

.mg0 {
    margin: 0px;
}

.mgl0 {
    margin-left: 0px;
}

.mgr0 {
    margin-right: 0px;
}

.mgt0 {
    margin-bottom: 0px;
}

.mgb0 {
    margin-bottom: 0px;
}

.mg5 {
    margin: 5px;
}

.mgl5 {
    margin-left: 5px;
}

.mgr5 {
    margin-right: 5px !important;
}

.mgr10 {
    margin-right: 10px !important;
}

.mgt5 {
    margin-top: 5px;
}

.mgb5 {
    margin-bottom: 5px;
}

.mg10 {
    margin: 10px;
}

.mgl10 {
    margin-left: 10px;
}

.mgr10 {
    margin-right: 10px;
}

.mgr15 {
    margin-right: 15px;
}

.mgt10 {
    margin-top: 10px;
}

.mgt15 {
    margin-top: 15px;
}

.mgb10 {
    margin-bottom: 10px;
}

/*end common css*/
/*======================================================*/
#divConfirm .modal-header {
    background-color: #EAC151;
}

.header-left .dropdown .dropdown-menu p {
    font-size: 13px;
    margin: 0;
    padding: 5px 15px;
}

.header-left .dropdown .dropdown-menu {
    margin-top: 0px;
}

input:required, select:required, textarea:required {
    background-color: #ece0bb !important;
    /*border: 1px solid #EAC151;*/
}

input:read-only, textarea:read-only {
    background-color: #EEEEEE !important;
}

.input-group.date .dropdown-menu {
    display: block;
    height: 150px;
}

.hide {
    display: none !important;
}

.alert-message {
    /*padding: 20px 40px 0px 40px;*/
}

.alert-message-session {
    padding: 20px 40px 0px 40px;
}

.lbl-normal {
    padding-top: 8px;
}

.lbl-normal-value {
    padding-top: 8px;
    font-weight: bold;
}

.btn {
    border-radius: 3px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #e6e0cc;
}

.card-title {
    margin-bottom: 0px;
    color: #333;
}

.card {
    margin-bottom: 0.5rem;
    border-radius: 0;
}

.cursor-pointer {
    cursor: pointer;
}

/*visible checkbox header grid*/
.checkbox-grid-selection {
    margin-top: 2px !important;
    visibility: inherit !important;
}

.modal-body {
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
}

img {
    /*border: 1px solid #ededed;*/
    /*border-radius: 8px;*/
}

.well {
    min-height: 8px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-right {
    text-align: left !important;
    min-height: 10px;
    padding: 2px;
    height: 220px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/* THANHTRAM - General */
.news-box {
    padding: 0 5px;
}

.content {
    float: left;
    margin: 5px;
    width: calc(100% - 10px);
    height: 80vh;
    padding: 5px;
    box-sizing: border-box;
}

.mt-3, .my-3 {
    margin-top: 5px !important;
}

.right-panel header.header {
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    clear: both;
    display: inline-block;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

.logo {
    width: 36px;
    height: 36px;
    margin-top: 6px;
    border-radius: 0px;
    border: none;
    margin-left: 10px;
}

.inline {
    display: inline-flex;;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: none;
}

.nav {
    text-align: left !important;
}

/*.font {*/
/*font-size: 18px !important;*/
/*font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial !important;*/
/*font-weight: bold !important;*/
/*line-height: 24px !important;*/
/*color: #0056b3 !important;*/
/*}*/

/*.labelb{*/
/*font-size: 15px !important;*/
/*font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial !important;*/
/*}*/

/*.icon{*/
/*font-size: 18px !important;*/
/*}*/
/*.labell{*/
/*font-size: 14px !important;*/
/*font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial !important;*/
/*font-weight: bold !important;*/
/*color: #878787;*/
/*}*/

/*.bld{*/
/*font-size: 14px !important;*/
/*font-weight: bold !important;*/
/*}*/
/*.pd{*/
/*margin-top: -11px !important;*/
/*}*/
/*p {*/
/*font-weight: 400;*/
/*line-height: 24px;*/
/*color: #878787;*/
/*}*/
/*End THANHTRAM - General */

/* THANHTRAM - news views */
.news-view .well-right {
    height: 270px;
    background-color: #bfd9f2;
}

.news-view .title-category {
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}

.news-view .list-category {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.news-view .list-category ul {
    padding: 10px;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.news .list-group-item a {
    width: 100%;
    color: #333 !important;
}

.news .list-group-item a:hover {
    color: #EAD43B !important;
}

.news .card {
    margin-bottom: -3px;
    border-radius: 0;
}

.news .list-group-item {
    padding: 4px 20px;
}

.newslist {
    border: 1px solid rgba(0, 0, 0, .125);
}

.fs20 {
    font-size: 20px !important;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
    height: 120px !important;
    color: black;
}

.cut-title {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 600px !important;
    height: 38px !important;
    white-space: nowrap !important;
    font-size: 18px;
}

.cut-latest {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 80px !important;
    height: 50px !important;
}

.cut-detail {
    word-break: break-all;
    line-height: 30px !important;
    font-size: 18px;
    font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial !important;
    font-weight: bold !important;
    color: #0056b3 !important;
    word-break: break-word;
}

.text-li {
    color: #007bff !important;
    font-weight: bold !important;
}

.container-img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.latest-img {
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer !important;
}

.fa-check:before {
    content: "\f00c";
}

#divConfirm .modal-footer button {
    pointer-events: auto;
}

.text-center {
    text-align: center;
}

.verticle-align-middle td {
    vertical-align: middle;
}

.hover {
    background-color: orange;
}

.fc-event, .fc-event-dot {
    background-color: #f2e487;
    border: 1px solid #ECE0BB;
}

.spanDelW76F2230 {
    z-index: 100;
    position: absolute;
    top: 2px;
    right: 2px;
}




/*End THANHTRAM - new views */

/*TRIHAO*/
.custom-checkbox {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
    top: 3px;
    margin-right: 5px !important;
}

.select2-container .select2-selection {
    min-height: 62px;
}

.loading {
    position: absolute;
    text-align: center;
    z-index: 10000;
    width: 100%;
    height: 100%;
    /*opacity: 0.4;*/
}

.loading .backdrop-loading {
    background: #3c3c3c;
    position: absolute;
    z-index: 1250;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.loading .icon-loading {
    position: absolute;
    z-index: 1251;
    display: flex;
    width: 100%;
    height: 100%;
}

.loading .icon-loading div {
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
    color: #fafafa;
    font-size: 14px;
    letter-spacing: 0.6;
}

.loading img {
    height: 60px;
    width: 60px;
    border: none;
}
.dropdown-item{
    font-size: 13px;
}

.pq-col-sort-asc, .pq-col-sort-desc{
    color: #000 !important;
}
/*@media (max-width: 1020px) {*/
    /*.pq-grid {*/
        /*width: 1020px !important;*/
    /*}*/
/*}*/

/* End TRIHAO */

.rotateY180{
    transform: rotateY(180deg);
}