/** master layout **/
.body-outer {
    width: 100%;
    height: 100%;
    background-color: #FBFAFA;
}

#prototype-screen-image {
    background-image: url(/media/prototype_screen.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#prototype-screen-image-2 {
    background-image: url(/media/prototype_screen2.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.product-logo {
    height: 100%;
    display: inline-block;
    float: left;
    width: 200px;
    text-align: center;
}

.product-logo img#top-product-logo {
    height: 60px;
    margin: auto;
    text-align: center;
}

.body-inner {
    width: calc(100% - 200px);
    float: left;
    display: inline-block;
}

.body-inner .body-content {
    width: 100%;
    height: 100%;
    background-color: white;
}

/** Login page **/
@font-face {
    font-family: Roboto;
    src: url(/public/fonts/Roboto-Black.ttf), weight: 900;
    src: url(/public/fonts/Roboto-Thin.ttf), weight: 100;
    src: url(/public/fonts/Roboto-Light.ttf), weight: 300;
    src: url(/public/fonts/Roboto-Regular.ttf), weight: 400;
    src: url(/public/fonts/Roboto-Medium.ttf), weight: 500;
    src: url(/public/fonts/Roboto-Bold.ttf), weight: 700 ;
}

.login-page {
    width: 60%;
    padding: 8% 0 0;
    margin: auto;
}

.login-page .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    text-align: center;
    border: 2px solid #337ab7;
    border-radius: 3px;
    margin-top: 45px;

}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #337ab7;
    width: 120px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease-in;
    transition: all 0.3 ease-in;
    cursor: pointer;
    height: 46px;
}

.form button:hover, .form button:active, .form button:focus {
    transition: 0.3s;
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

body {
    background: #d2d6de; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-title {
    padding: 10px;
    background-color: #337ab7;
    color: white;
    text-align: left;
}

.login-form {
    padding: 45px;
}

.logo {
    text-align: center;
    margin: auto;
    max-width: 360px;
}

.logo-container {
    width: 100%;
    text-align: center;
}

.button-form {
    width: 100%;
    display: table;
}

.button-form button, .button-form .message {
    display: table-cell;
}

.button-form button {
    float: right;
}

.button-form button:hover {
    background: #337ab7;
}

.button-form .message {
    text-align: left;
}

.button-form .message a {
    color: black;
    text-decoration: underline;
    font-style: italic;
}
/** Ck editor min height **/
.ck-editor__editable {
    min-height: 200px;
}
/** Upload file to document **/
#processDocument input[type="file"] {

    height: 26px !important;

    overflow: hidden !important;

    padding: 0px !important;

    font-size: 11px !important;

}
#processDocument .delete-file-link {
    color: red;
}
.document-list {
    list-style: none;
}
.document-list li {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 2px;
    margin: 5px 0 5px 0;
}
.document-list li a {
    padding: 5px 0 5px 5px;
}
@media screen and (max-width: 767px) {
    .login-page {
        width: 80%;
    }
}

/** Landing page **/
.topmenu-wrapper {
}

.landing-nav.top-nav {
    display: inline-block;
    width: calc(100% - 80px - 60px);
    height: 60px;
}

.landing-nav.top-nav ul.level-0 {
    float: left;
    display: inline-block;
    height: 60px;
    padding: 0;
    font-size: 12px;
    width: calc(100% - 120px);
    max-width: 900px;
}

.landing-nav.top-nav ul li {
    padding: 10px 5px;
    float: left;
    list-style: none;
    position: relative;
}

.landing-nav.top-nav ul li a {
    background-color: #EAC151;
    padding: 11px 10px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    color: white;
    text-decoration: none;
    height: 40px;

}

.landing-nav.top-nav ul li a:hover {
    transition: 0.3s;
    opacity: 0.7;
    box-shadow: 0 8px 6px -6px black;
}

.topmenu-wrapper .top-logo-ab {
    width: 80px;
    display: inline-block;
    float: left;
}

.landing-nav.top-nav .top-logo {
    display: inline-block;
    float: left;
    width: 120px;
}

.topmenu-wrapper .top-logo-ab img {
    height: 60px;
}

.landing-nav.top-nav .top-logo img {
    height: 40px;
    margin-top: 10px;
}

.account-menu {
    display: inline-block;
    float: right;
    height: 60px;
    width: 60px;
}

.account-menu .logo {
    height: 30px;
    display: inline-block;
    float: right;
    margin: 14px;
}

ul.account-menu-list {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 190px;
    padding: 0;
    border: 1px solid #bababa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
    background: white;
}

ul.account-menu-list li {
    height: 30px;
    width: 100%;
    display: inline-block;
    list-style-type: none;
    padding: 0
}

ul.account-menu-list li a {
    height: 30px;
    width: 100%;
    padding: 4px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
}

ul.account-menu-list li a:hover {
    background-color: #cdcdcd;
    transition: 0.4s;
}

.body-content-menu {
    display: inline-block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 150px;
    background-color: black;
}

.body-content-menu .menu-list {

}

.body-content-menu .menu-list li {
    list-style-type: none;
}

.landing-nav.top-nav .level-0 .nav-item {
    width: 20%;
}

.landing-nav.top-nav .level-1 .nav-item {
    width: 100%;
}

.landing-nav.top-nav .level-1 {
    display: inline-table;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 999;
    text-align: center;
    padding: 0;
}

.landing-nav.top-nav .level-1.hide {
    display: none;
}

.landing-nav.top-nav .level-1 li {
    padding: 4px 0;
    list-style-type: none;
    float: left;
    clear: both;
    margin: 5px 0;
    display: inline-block;
    height: 30px;
    background-color: #EAC151;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 8px 6px -6px black;
}

.landing-nav.top-nav .level-1 li:hover {
    transition: 0.3s;
    background-color: #255d80;
}

.landing-nav.top-nav .level-1 li a {
    width: 100%;
    background-color: unset;
    padding: unset;
    border-radius: unset;
    /*background-color: unset;*/

}

.landing-nav.top-nav .level-1 li a:hover span:before {
    transition: 0.3s;
    background-color: rgba(27, 102, 144, 0.64);
}

.landing-nav.top-nav .level-1 li {

}

/** module sidebar menu **/
.module-menu-sidebar {
    background-color: #0E3853;
    height: 100%;
    margin: 0;
    padding: 0;
}

.module-menu-sidebar li:first-child {
    margin-top: 20px;
}

.module-menu-sidebar li {
    list-style: none;
    padding: 5px 0 5px 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2px 0 2px 0;
    background-color: #215271;
}

.module-menu-sidebar li:hover {
    transition: 0.3s;
    background-color: #255d80;
    box-shadow: 0 8px 6px -6px black;

}

.module-menu-sidebar li a {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    color: white;
}

.module-menu-toggle {
    width: 100%;
    height: 50px;
}

.module-menu-toggle a {
    float: right;
    display: inline-block;
}

.module-menu-toggle img {
    width: 40px;
    height: 40px;
    margin: 5px;
    position: absolute;
    top: 60px;
    left: 140px;
}

.module-sidebar.hide {
    width: 50px;
}

.landing-nav.top-nav .level-0 li a.icon-link {
    display: none;
}

aside.left-panel {
    background: #1f1e39 !important;
}

#bi-createFolder i {
    color: green;
}

.login-page .alert {
    margin: 10px 0 10px 0 !important;
    top: -185px;
}

#bi-openFolder i {
    color: #e5c947;
}

#bi-renameFolder i {
    color: #355b80;
}

#deleteFolder i {
    color: #ba2518;
}

.header-left .dropdown .dropdown-menu {
    margin-top: 10px;
}

#header .user-area .user-menu {
    position: absolute;
    right: -29px !important;
    top: 36px !important;
}

.navbar {
    background-color: unset !important;
}

.header-left .dropdown .dropdown-menu a.dropdown-item {
    background-color: #212549;
}

.module-bi {
    height: 100%;
}

.module-bi .folder-content thead th {
    font-size: 12px;
}

.module-bi .folder-content .bi-table-item:hover {
    cursor: pointer;
}

.module-bi .folder-content .bi-table-item td {
    font-size: 12px;
}

.module-bi .row {
    height: auto;
}

.module-bi .folder-sidebar {
    height: 100%;
}

.module-bi .folder-sidebar .card {
    border-radius: 5px;
    height: 600px;
}

.module-bi .folder-content .card {
    border-radius: 5px;
    height: 600px;
    overflow: scroll;
}

.module-bi .folder-content {
    height: 100%;
}

.custom-jtree-icon, .custom-plus-icon {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    line-height: 22px;
}

.custom-jtree-icon {
    margin-right: 5px;
    margin-top: -5px;
    background-position: -260px -4px;
    background-image: url('http://www.eoffice.local/jstree/dist/themes/default/32px.png');
}
li.node-type-document .jstree-themeicon {
    background-position: -100px -67px;
}
.custom-plus-icon {
    float: right;
    border-radius: 50%;
    font-style: normal;
    background-color: green;
    text-align: center;
    color: white !important;
    font-weight: 900;
    box-shadow: 0 0 2px greenyellow;
}

.table-documentary .table-bordered thead th {
    text-align: center;
    background-color: #68a4c8 !important;
    vertical-align: middle;
}

.left-table-header .action-on-header {
    display: inline-block;
    padding: 0 10px;
}

.right-table-header input.searh-form {
    box-sizing: border-box;
}

.right-table-header {
    float: right;
}

.left-table-header {
    float: left;
}

.folder-icon img {
    height: 48px;
    margin-right: 10px;
}

.folder-icon img:hover {
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}
.saveBtn-right-toolbar {
    position: relative;
    color: white;
    background-color: #37649b;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 0 0 0 10px;
}
.cancelBtn-right-toolbar {
    position: relative;
    color: white;
    background-color: #5e5c63;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 0 0 0 10px;
}
.attachedFileInput {
    margin: 5px 0 5px 0;
}
#bi-removeAttachedFileInput {
    position: relative;
    top: 17px;
}
#searchRelativeTitle {
    width: 240px;
}
.module-news .filterBox {
    margin-top: 20px;
    max-width: 100% !important;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
}
#news-createNews {
    background-color: #2f8045;
    border-radius: 4px;
    box-shadow:  0 0 5px grey;
    color: white;
    padding: 5px 15px;
    margin: 0 0 0 15px;
}
#news-createNews:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.news-table td img {
    width: 100px;
}

.news-table .lastNewsModified {
    background-color: #4eaa58 !important;
}
.search-suggestion-list ul {
    list-style: none;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 257px;
    box-shadow: 0 0 5px grey;
}
.news-table thead th {
    font-size: 12px;
}
.news-table td {
    font-size: 12px;
}
.slider {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
@media screen and (max-width: 1220px) {
    .folder-sidebar .card .card-header strong {
        display: inline-block !important;
    }
}

@media screen and (max-width: 1100px) {
    .module-bi .folder-sidebar, .module-bi .folder-content {
        height: auto;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-bi .folder-sidebar {
        order: 0;
    }
}

@media screen and (max-width: 575.99px) {
    .right-panel .content #bootstrap-data-table_wrapper .table td,
    .right-panel .content #bootstrap-data-table_wrapper .table th {
        padding: 0 !important;
        font-size: 0.6em;
        line-height: 1;
    }

    .left-table-header a {
        padding: 0 0.3em !important;
        font-size: 0.65em;
    }

    .right-table-header input.searh-form {
        max-width: 70px;
    }
}

@media screen and (min-width: 1101px) {
    .folder-sidebar .card-body {
        height: 100%;
        overflow: scroll;
    }

    .folder-content .card-body {
        height: 100%;
    }
}

@media (max-width: 1230px) {
    .landing-nav.top-nav .level-0 {
        width: 350px !important;
    }

    .landing-nav.top-nav .level-0 li a.icon-link {
        display: inline-block;
        background-color: unset;
        padding: unset;
    }

    .landing-nav.top-nav .level-0 li a.item-link {
        display: none;
    }

    .landing-nav.top-nav .level-0 li i {

        background-image: url(/media/default-top-menu-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .landing-nav.top-nav .level-1 {
        width: 170px;
        left: -55px;
    }

    .landing-nav.top-nav .level-1 li i {
        background-color: unset;
        width: unset;
        height: unset;
        display: unset;
    }

    .landing-nav.top-nav .level-1 li a {
        display: inline-table;
    }
}